extends layout

block content
  if errorMessages
    ul Villur
      each val in errorMessages
        li= val
  p
  form(name='post' method='POST' action='/')
    p Nafn
    input(type='text', name='name' value='')
    p Email
    input(type='text', name='email' value='')
    P SSN
    input(type='text', name='ssn' value='')
    p Number
    input(type='text', name='num' value='')
    p
    button Senda
  p
  if loggedIn
    p Innskradur sem: 
    p
    a(href='logout') Utskra 
    p
    a(href='admin') Stjornsida
  else
    a(href='login') Innskraning
  