extends layout

block content
  if errorMessages
    ul Villur
      each val in errorMessages
        li= val
  p
  form(name='post' method='POST' action='/')
    p Nafn
    input(type='text', name='name' value='')
    p Netfang
    input(type='text', name='email' value='')
    P Kenntala
    input(type='text', name='ssn' value='')
    p Númer
    input(type='text', name='num' value='')
    p
    button Senda
  p
  if loggedIn
    p Innskráður sem: {user}
    p
    a(href='logout') Útskrá 
    p
    a(href='admin') Stjórnsíða
  else
    a(href='login') Innskráning
  