extends layout

block content
  div.grandParentContaniner
    div.parentContainer
      if errorMessages
        ul Villur
          each val in errorMessages
            li= val
      form(id='loginForm', name='post' method='POST' action='/login')
        label(for='adminlogin') Notendanafn
        input(type='text', id='adminlogin' name='username' value='')
        label(for='passwd') Lykilord
        input(type='password', id='passwd', name='password' value='')
        button Senda
      a(href='/') Forsíða