* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
  margin: 0 auto;
}

table.center {
  width:100%;
}

.grandParentContaniner{
  display: table;
  height: 100%;
  margin: 0 auto;
}

.parentContainer{
  display: table-cell;
  vertical-align: middle;
}

.parentContainer #loginForm{
  padding:20px; 
  background: #fff;
  border: 1px solid #ddd;
  width:400px;
}

.parentContainer #results{
  padding:20px; 
  background: #fff;
  border: 1px solid #ddd;
  width:800px;
}

label {
  display: inline-block;
  font-size: 1.3em;
  width: 125px;
}

input, button {
  font-size: 1.3em;
  width: 260px;
  margin: 5px 5px;
}

ul, li {
  list-style-type: circle
}

thead {
  background-color: rgb(161, 158, 158);
  text-align: left;
  font-size: 1em;
  padding: 10px 10px;
  font-weight: bold;
}

table, thead, tbody th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 2px;
}